<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="WebsiteLog" xsi:type="File" fileName="WebsiteLog.txt"/>
    <target name="ErrorLog" xsi:type="File" fileName="ErrorLog.txt"/>
  </targets>

  <rules>
    <logger writeTo="WebsiteLog" minlevel="Debug" maxlevel="Warn" final="true" />
    <logger writeTo="ErrorLog" minlevel="Error" final="true" />
  </rules>
</nlog>
